@layer init {
    :host {
        background: black;
        display: block;
        padding: 30px;
        color: #fffa;
        font: 11pt 'Arial';
        font-weight: bold;
        margin-top: 20px;
        position: sticky;
        top: 100%;
    }

    #footer {
        display: grid;
        grid-template: repeat(5, 1fr) / repeat(2, 1fr);
        grid-gap: 10px;
    }

    .dummy {
        height: 11pt;
    }
}
