@layer init {
    :host {
        background: black;
        display: block;
        padding: 30px;
        color: #fffa;
        font: 11pt 'Arial';
        font-weight: bold;
        margin-top: 20px;
        position: sticky;
        top: 100%;
    }

    #footer {
        display: grid;
        grid-template: repeat(5, auto) / repeat(2, 1fr);
        grid-gap: 10px;
    }

    .dummy {
        height: 11pt;
    }

    #icon_vk {
        height: 40px;
    }

    #icon_youtube {
        height: 45px;
    }

    .contacts {
        align-items: center;
        display: grid;
        grid-area: 2 / 2 / 4 / 2;
        grid-auto-flow: column;
        grid-gap: 20px;
        justify-content: left;
    }

    img {
        opacity: 0.75;
    }

    img:hover {
        opacity: 1;
    }
}
