@font-face {
  font-family: 'Font';
  src: url('../../../Main/Font.ttf');
}

:root {
    height: 100%;
}


x-menu {
    --font__title: 'Font';
    position: sticky;
}

body {
    background: #efefef;
    margin: 0px;
    height: 100%;
}

.header {
    font: 24pt 'Arial Black';
    text-align: center;
    width: 90%;
    margin: 10px auto;
}

a {
    font: 14pt 'Arial';
    color: #0009;
    text-decoration: none;
    font-weight: bold;
}

ol {
    display: grid;
    justify-content: start;
    grid-gap: 10px;
}

a:hover {
    color: #000d;
}
