@font-face {
  font-family: 'Font';
  src: url('../../../../../Main/Font.ttf');
}

:root {
    height: 100%;
}


.text {
    font: 14pt 'Arial';
    /* color: #0009; */
    font-weight: bold;
    margin-left: 20px;
}

x-menu {
    --font__title: 'Font';
    position: sticky;
}

body {
    background: #efefef;
    margin: 0px;
    height: 100%;
}

.header {
    font: 24pt 'Arial Black';
    margin: 10px auto;
    text-align: center;
    width: 90%;
}

li {
    color: #0009;
    font-weight: bold;
    font: 14pt 'Arial';
}

iframe {
    background: #fff;
    border: 9px solid #aaf;
    display: block;
    height: 100vh;
    margin: 10px auto;
    width: 90vw;
}

a {
    text-decoration: none;
}

ol {
    display: grid;
    justify-content: start;
    grid-gap: 10px;
}

a:hover li {
    color: #000d;
}


.back:hover {
    color: #000d;
}

.back {
    color: #0009;
    font: 16pt 'Arial';
    font-weight: bold;
    margin: 20px;
    display: block;
}

.wish {
    font: 16pt 'Times New Roman';
    font-weight: bold;
    font-style: italic;
    margin: 10px;
}

h2 {
    color: #000c;
    font: 20pt 'Arial Black';
    text-align: center;
}
